aaa
bbb
benchmark
bin/
brn2
brn2_benchmark
brn2_perf
.cache
.ccls-cache/
.clang-format
*.cmd
compile_commands.json
*.data
*.exe
*.git/
*.o
*.pdb
*.qbe
rename
rename.txt
.SRCINFO
tags
*.tags.vim
*.tar.gz
*temp_delete_me*
test
test/
tests
*.obj
*.obj
